@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
/* Добавление шрифта Inter */

body {
    font-family: 'Inter';
    font-weight: bold;
}

.container {
    max-width: 1720px;
    margin: 0 auto;
    padding: 0 5% 0 5%;
    position: relative;
    width: 80%;
}

.header {
    padding: 2% 0 3% 0;
}
  
.header-row {
    display: flex;
    align-items: center;
}

.header-logo {
    display: flex;
    align-items: center;
    column-gap: 1%;
}

.header-logo .title {
    font-size: 24px;
    padding-left: 10px;
    padding-right: 40px;
}
  
.header-logo img {
    height: 32px;
}

.header-nav {
    flex: 1; /* Занимать оставшееся пространство в строке */
    margin-right: 20px; /* Расстояние между header-nav и header-lang */
}

.header-nav ul {
    display: flex;
    column-gap: 80px;
    align-items: center;
    font-size: 16px;
    margin: 0;
    text-transform: none;
    list-style-type: none;
}

.header-nav a {
    color: #aaa;
    text-decoration: none;
    position: relative;
}

.header-nav a::before {
    content: '';
    bottom: 0;
    left: 0;
    position: absolute;
    width: 0%;
    height: 1px;
    background-color: #aaa;
    transition: 0.2s;
}

.header-nav a:hover::before {
    width: 100%;
}

.header-lang {
    margin-left: auto; /* Переместить элемент вправо */
}




.content {
    text-align: center;
}

.subheading {
    font-size: 16px;
    color: #aaa;
    margin-top: 100px;
    margin-bottom: 0;
}

.main-heading {
    margin: 0;
    font-size: 60px;
    color: #000;
}

.description {
    font-size: 16px;
    color: #aaa;
    font-weight: 500;
}

.call-to-action {
    font-size: 16px;
    color: #000;
}

.waitlist-container {
    text-align: center;
    margin-top: 50px;
    padding: 0 32% 0 32%;
    position: relative;
}

.waitlist-text {
    font-size: 16px;
    color: #000;
    padding-right: 60%;
    margin: 0 0 10px 0;
}

.email-input,
.join-button {
    display: inline-block;
    vertical-align: top; /* Выравниваем элементы по верхнему краю */
}

.email-input {
    display: inline-block;
    position: relative;
    text-align: left; /* Выравниваем текст внутри блока влево */
}

.email-field {
    position: relative;

    left: 0;
    width: 60%;
    height: 30px;
    border: 1px solid #AAAAAA;
    border-radius: 5px;
    padding: 5px;
    margin-right: 2%;
}

.email-field::placeholder {
    position: absolute; /* добавляем абсолютное позиционирование */
    left: 7%; /* отступ справа от границы */
    color: #AAAAAA;
}


.join-button {
    width: 25%;
    height: 41.6px;
    background-color: rgba(116, 207, 155, 0.2);
    color: #74CF9B;
    border: 1px solid #74CF9B;
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
}

.join-button:hover {
    background-color: #fff;
  }
  
  .join-button:active {
    transform: scale(0.95);
  }


.development-text {
    text-align: center;
    margin-top: 30px;
    font-weight: normal;
    color: #aaa;
    white-space: pre-line;
    word-break: break-word;
}

.background-image {
    position: absolute;
    top: 35%; /* Немного выше текста "Join waitlist now!" */
    left: 0;
    z-index: -1; /* Помещаем задний план на задний план */
    width: 100%; /* Заполняем ширину контейнера */
    height: 100%; /* Заполняем высоту контейнера */
    background-size: cover; /* Адаптивное заполнение контейнера */
    background-position: center; /* Центрируем изображение */
    background-repeat: no-repeat;
}

.system {
    font-size: 40px;
    margin-top: 25%;
}


/* Посылка */
.deliver-package {
    cursor: pointer;
    border: 1px solid black;
    border-radius: 20px;
    background-color: white;
    width: 300px;
    height: 140px;
    padding: 20px;
}

.deliver-package p.package-title {
    font-weight: bold;
    font-size: 25px;
    margin: 10px 0 0 0;
}

.description-container {
    width: fit-content; /* Ширина равна ширине текста */
}

.description-container p {
    font-weight: 400;
    color: #000;
}

.process-ways {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}



/* Курьер */
.courier-package {
    cursor: pointer;
    border: 1px solid black;
    border-radius: 20px;
    background-color: white;
    opacity: 0.4;
    width: 300px;
    height: 140px;
    padding: 20px;
}

.courier-package p.courier-title {
    font-weight: bold;
    font-size: 25px;
    opacity: 0.5;
    margin: 10px 0 0 0;
}

.description-container-c {
    width: fit-content; /* Ширина равна ширине текста */
}

.description-containe-c p {
    font-weight: 400;
    color: #000;
}

.process-ways .deliver-package {
    margin-right: 30px;
}

.process-ways {
    width: 810px;
    margin: 0 auto;
}

.process-ways .courier-package {
    margin-right: 30px;
}


.process-ways .deliver-package, .process-ways .courier-package {
    margin: 10px;
}


@media (max-width: 1200px) {
    .system {
        margin-top: 30%;
    }
}

@media (max-width: 1000px) {
    .waitlist-text {
        padding-right: 40%;
    }

    .system {
        margin-top: 10%;
    }

    .background-image {
        display: none; /* Скрываем картинку */
    }

    .process-ways {
        width: 730px;
    }
}

@media (max-width: 800px) {
    .waitlist-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 10%;
    }

    .email-field {
        width: 30%;
        margin-right: 0;
        width: 160px;
    }

    .join-button {
        width: 30%;
        margin-top: 10px;
        width: 170px;
    }

    .waitlist-text {
        /* margin-right: auto;
        padding-right: 0; */
        text-align: center;
        padding-right: 0;
    }

    .header-nav ul {
        display: none; /* Скрыть список ссылок при ширине экрана менее 800px */
    }

    .system {
        margin-top: 10%;
    }

    /* .process-ways .courier-package {
        margin-right: 30px;
    } */

    .process-ways {
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
}


@media only screen and (max-width: 600px) {
    /* .container {
        min-width: 600px; /* Минимальная ширина контейнера */
    

    .header-logo .title {
        font-size: 20px;
    }

    .main-heading {
        font-size: 45px;
    }

    .deliver-package, .courier-package {
        width: 90%;
        padding: 10px;
    }

    .package-title, .courier-title, .description {
        font-size: 14px;
    }

    
    /* .waitlist-container {
        padding: 0 15% 0 15%;
    } */
}
